[submodule "humanizer"]
	path = external/humanizer
	url = https://github.com/blader/humanizer.git
[submodule "external/cc-polymath"]
	path = external/cc-polymath
	url = https://github.com/rand/cc-polymath.git
[submodule "external/posit-skills"]
	path = external/posit-skills
	url = https://github.com/posit-dev/skills.git
[submodule "external/elements-of-style"]
	path = external/elements-of-style
	url = https://github.com/emraher/the-elements-of-style
